body{
    text-align: center;
    background-color: rgb(255, 250, 245);
}
nav{
    padding: 5px;
    margin: 20 px;
    border: 2px solid rgb(83, 0, 0);
}
nav a{
    margin: 50px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
}
header img, footer img{
    width: 100px;
}
header{
    display: flex;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 50px;
}
footer{
    background-color: rgb(253, 237, 210);
    color: rgb(54, 11, 11);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main p{
    font-size: 20px;
}

